<!-- @if(electronService.isElectron) {
<h1 class="mt-60 text-center text-red-600">Sorry, but this application needs to run in Electron!</h1>
}
@else { -->
<div class="content mx-auto p-3 border-b-neutral-300">
  <div class="text-center">
    <h1 class="mt-5">
      Image Compressor
    </h1>
    <p class="content__subtitle">
      This application can be used to compress images using the best compression techniques!
    </p>
  </div>

  <div class="cbg-white rounded px-8 pt-6 pb-8 mb-4">

    <form #reqForm [formGroup]="imgCompressionForm" (ngSubmit)="compress()">
      <div class="mb-8">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          1. Select Images
          <span class="text-red-500">*</span>
        </label>
        <!-- <app-file-drag-drop (fileChange)="onFileChange($event)" name="files"></app-file-drag-drop> -->

        <mat-form-field class="w-full">
          <mat-label>Drag & Drop Images, Or Browse to Select</mat-label>
          <ngx-mat-dropzone>
            <input type="file" fileInput multiple [formControl]="filesCtrl" accept="image/png" />
            @for (file of files; track file.name) {
            <mat-chip-row (removed)="remove(file)">
              {{ file.name }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </ngx-mat-dropzone>
          <mat-icon matSuffix>cloud_upload</mat-icon>
          <mat-error *ngIf="filesCtrl?.hasError('required')">
            At least 1 image is required
          </mat-error>

          <mat-error *ngIf="filesCtrl?.hasError('accept')">
            Only PNG images are accepted
          </mat-error>

        </mat-form-field>
      </div>

      <div class="mb-8">
        <div class="flex items-center gap-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            2. Output Directory
          </label>
          <mat-icon fontIcon="info_outline" class="content__icon"
            [matTooltip]="'Select an option to either preserve each file original directory or place all files in custom output directory'"
            [matTooltipPosition]="'right'"></mat-icon>
        </div>

        <mat-radio-group formControlName="outputDirectoryConfig" class="flex flex-col">

          <mat-radio-button value="newDirectory">
            <div class="mt-2">
              <label for="selectFolder">
                <button type="button" mat-stroked-button color="primary" class="text-md px-1"
                  [disabled]="showPreserveDir" (click)="selectDirectory()"> Set Custom Directory </button>
                &nbsp; {{ outputDir?.value}}
              </label>

              {{ outputDir?.errors | json }}
            </div>

            @if(outputDir?.hasError('required') && (outputDir?.touched || submitted)){
            <mat-error>
              Please select output directory
            </mat-error>
            }
          </mat-radio-button>

          <mat-radio-button value="preserve">Preserve Directories</mat-radio-button>

        </mat-radio-group>
      </div>

      @if(showPreserveDir){
        <div class="mb-8">
          <mat-checkbox formControlName="overwrite">
            Overwrite File?
            <mat-icon fontIcon="info_outline" class="content__icon"
            [matTooltip]="'Overwrite files in original directories with same name, or add default suffix to compressed file names'"
            [matTooltipPosition]="'right'"></mat-icon>
          </mat-checkbox>
        </div>
      }
      


      <!-- @if(showPreserveDir){
        <div class="mb-8">
          <div class="flex items-center gap-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              3. File Overwrite Behavior
            </label>
            <mat-icon fontIcon="info_outline" class="content__icon"
              [matTooltip]="'Select an option to either overwrite original file or create new file with a suffix'"
              [matTooltipPosition]="'right'"></mat-icon>
          </div>
  
          <mat-radio-group formControlName="overwriteConfig" class="flex flex-col">
            <mat-radio-button value="renameWithSuffix">Rename</mat-radio-button>
            <mat-radio-button value="overwrite">Overwrite</mat-radio-button>
          </mat-radio-group>
  
          @if(showFileRename){
          <div class="mt-2">
            <mat-form-field class="w-full">
              <mat-label>File Suffix</mat-label>
              <input matInput #fileSuffix formControlName="fileSuffix">
  
              @if(imgCompressionForm.get('fileSuffix')?.hasError('required')){
              <mat-error>
                File suffix is required
              </mat-error>
              }
  
            </mat-form-field>
          </div>
          }
  
        </div>
      } -->




      <!-- <div class="mb-8">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          4. See The Magic!
        </label> -->

      <!-- Preview Results -->
      <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <ng-container matColumnDef="fileName">
              <mat-header-cell *matHeaderCellDef> File Name </mat-header-cell>
              <mat-cell *matCellDef="let file"> {{file.fileName}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="fileType">
              <mat-header-cell *matHeaderCellDef> File Type </mat-header-cell>
              <mat-cell *matCellDef="let file"> {{file.fileType}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="originalSize">
              <mat-header-cell *matHeaderCellDef> Original Size</mat-header-cell>
              <mat-cell *matCellDef="let file"> {{file.originalSize}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="compressedSize">
              <mat-header-cell *matHeaderCellDef> Compressed Size</mat-header-cell>
              <mat-cell *matCellDef="let file"> {{file.compressedSize}} </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-row *matNoDataRow>
              <mat-cell [attr.colspan]="displayedColumns.length" class="text-red-500 font-bold text-center">No Files Added!</mat-cell>
            </mat-row>
          </table> -->


      <!-- <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{element.fileName}}</td>
            </ng-container>
          
            <ng-container matColumnDef="fileType">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{element.fileType}}</td>
            </ng-container>
          
            <ng-container matColumnDef="originalSize">
              <th mat-header-cell *matHeaderCellDef>Weight</th>
              <td mat-cell *matCellDef="let element">{{element.originalSize}}</td>
            </ng-container>
          
            <ng-container matColumnDef="compressedSize">
              <th mat-header-cell *matHeaderCellDef>Symbol</th>
              <td mat-cell *matCellDef="let element">{{element.compressedSize}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> 

      </div> -->

      <div class="flex justify-center gap-5">
        <button type="submit" class="cta" mat-raised-button color="primary">
          @if((loading$ | async) === true){
          <mat-spinner diameter="20"></mat-spinner>
          }
          Compress
        </button>

        <button mat-raised-button color="warn" (click)="reset()">
          Reset
        </button>

      </div>
    </form>

  </div>
</div>
<!-- } -->