.content {
  width: 720px;
}

.content .mdc-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content__icon {
  font-size: 1rem;
}

.content__slider {
  mat-slider {
    width: 500px;
  }
}

.spinner {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

::ng-deep {
  .dropzone .mdc-notched-outline__notch {
    border-right: none;
  }
}
