@if(electronService.isElectron){
<div style="margin: 50px;">
  <div style="display: flex; gap: 20px;">
    <input type="file" #fileCtrl (change)="onFileChange($event)" multiple>

    <button (click)="reset()"> Reset </button>

    <button (click)="compress()"> Compress </button>
  </div>


  <div style="margin-top: 50px;">

    @for(path of filePaths; track path) {
    <p>
      {{ path }}
    </p>
    }

    @if((loading$ | async) === true) {
    <b> Loading.... </b>
    }

  </div>
</div>
}
@else {
<h3>Sorry, but image compression is only available in Electron app!</h3>
}