.content { 
    width: 720px;
    border: 1px solid black;
}

.cta{ 
    &.mdc-button .mdc-button__label {
        display: flex !important;
        gap: 5px !important;    
    }
 
}

.content .mdc-label { 
    display: flex; 
    align-items: center;
    gap: 5px;
}

.content__icon { 
    // display: flex;
    // align-items: center;
    font-size: 1rem;
}